/* CSS  Cascading Style Sheets */
/* pixels (px), points (pt), ems (em), percentages (%) */

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
  
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}




/*     Priority     */


.Priority{
  display: flex;
  gap:50px;
  cursor: pointer;
}

.Priority div{
  color: chocolate;
}

.first-div {
  display: block; /* or inline-block, flex, etc. */
}


/* to show that CSS reading starts from top to bottom*/
#A{
  color: black;
}


.second-div, .second-div1,.second-div2 {
  display: none;
}






/* show higher priority for id */
/* id="A1" class="A1"  or wrot  class="A2" id="A2*/

#PriorityId>div{
  color: aqua;
}

#A{
  color: red;
}
#A1{
  color: red;
}
#A2{
  color: red;
}
.A1{
  color: beige;
}
.A2{
  color: beige;
}
.Priority>div{
  color: aqua;
}



/* how can I write code when hovering on one 
div and changing other classes */
.first-div:hover + .second-div{
  display: block;
  color: blue;
}

.first-div1:hover + .second-div1{
  display: block;
  color:aqua;
}

.first-div2:hover + .second-div2{
  display: block;
  color:burlywood;
}